/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

header {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.338);

}

.container-header {
  width: 100%;
  max-width: 1200px;
  margin: auto;

}

.logo-titulo {
  display: flex;
}

.logo-titulo img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.nav {
  position: absolute;
  right: 40px;
 


}

.nav a {
  font-size: 30px;
  text-decoration: none;
  text-shadow: 2px 2px 0.2pc rgb(178, 180, 173);
  color: rgb(1, 8, 73);
  padding: 10px;
}

.nav a:hover {
  color: rgb(12, 87, 110);

}

.body1 {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #2daccf;
}


.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ebdddd;
  padding-left: 30px;

}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #a5298d;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  
}


label {
  display: block;
  float: center;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: #fff;
}


span {
  color: #ab4493;
}


.aviso {
  font-size: 13px;
  color: #0e0e0e;
}


h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}


h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


p {
  font-size: 14px;
  color: #0e0e0e;
}


::-webkit-input-placeholder {
  color: #a8a8a8;
}

@media screen and (max-width:1087px) {

  .nav a {
      font-size: 20px;
      color: rgb(74, 21, 180);
  }
}

@media screen and (max-width:876px) {

  .nav a {
      font-size: 10px;
      color: rgb(4, 171, 255);
  }
}

@media screen and (max-width:671px) {
  .logo-titulo img {
      display: none;
  }

  .logo-titulo h4 {
      display: none;

  }

  .details {
      display: none;
  }

  .details h1 {
      display: none;
  }

  .details p {
      display: none;
  }

  .details button {
      display: none;
  }

}






